/* ========================================================= */
/* 6. FOOTER/
/* ========================================================= */


.footer {
  background-color: #fffcfc;
  color: #1a1a1a;
  padding: 20px;
  margin-top: 20px; /* Un margen pequeño para que no toque el contenido bruscamente */
  width: 100%;
  border-top: 1px solid #eee; /* Opcional: una línea sutil arriba */
}
  
.footer {
  position: fixed; /* Lo saca del flujo normal y lo deja quieto */
  bottom: 0;       /* Lo pega al borde inferior */
  left: 50%;       /* Lo centra horizontalmente... */
  transform: translateX(-50%); /* ...junto con el left 50% */
  
  width: 100%;
  max-width: 700px; /* IMPORTANTE: Debe ser igual al max-width de tu .app-container */
  
  background-color: #fffcfc;
  color: #1a1a1a;
  padding: 10px 20px;
  z-index: 1000;    /* Asegura que siempre esté por encima de las imágenes y el carrusel */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Sombra hacia arriba para dar profundidad */
  
  /* Si quieres bordes redondeados solo arriba */
  border-radius: 20px 20px 0 0; 
}
  
  .footer-section {
    flex: 1;
    min-width: 280px;
 

  }
  
  .footer-section h3, .footer-section h4 {
    color: #ff4757; /* Color llamativo tipo delivery */
    margin-bottom: auto;
  }
  
  .social-icons {
    display: flex;
    gap: 3px;
    font-size: 1.5rem;
    justify-content: space-evenly;
  }
  
  .social-icons a {
    color: rgb(19, 18, 18);
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    color: #ff4757;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #333;
    font-size: 0.9rem;
    color: #0e0d0d;
  }